<a href="https://colab.research.google.com/github/dayoungkimm/MS-AI-School/blob/main/Python01_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023-04-16 복습

### 1. 변수 규칙

*   항상 변수는 문자로 시작해야 한다.
*   가급적 풀 워드 / 정확한 영어로 짓는다.
*   대소문자를 구별한다.
*   예약어는 사용할 수 없다.

In [3]:
a = 2
b = 3

print(a + b)

5

###2. type() 데이터 타입을 확인하는 함수

In [2]:
#type() 데이터 타입을 확인하는 함수

year = 2023
print(type(year))

year = '이천이십삼년'
print(type(year))

<class 'int'>
<class 'str'>

###3. 파이썬의 진수, 정수, 실수 타입

1. 파이썬의 진수 타입

In [5]:
# 파이썬의 진수 타입

#8진수 : 정수 앞에 0o를 붙인다.
#2진수 : 정수 앞에 0b를 붙인다.
#16진수 : 정수 앞에 0x를 붙인다.

print(0o10)
print(0b10)
print(0x10)

8
2
16

In [6]:
# 10진수를 받아서 각 진수로 변환하는 방법(결과는 문자형)

print(type(oct(38)))
print(oct(38))        #10진수 38을 8진수로 변환
print(hex(38))        #10진수 38을 16진수로 변환
print(bin(38))        #10진수 38을 2진수로 변환

<class 'str'>
0o46
0x26
0b100110

2. 파이썬의 정수 타입

In [7]:
print(type(1))        #int
print(type(2**31))    #2의 31승 파이썬 3.0 int형으로 정수형 통합
print(type(314e-2))

<class 'int'>
<class 'int'>
<class 'float'>

3. 파이썬의 실수 타입

In [8]:
print(type(3.14))
print(type(314e-2))
print(type(3-4j))     #복소수

x = 3 - 4j
print(x.imag)          #imag는 허수부
print(x.real)          #real은 실수부
print(x.conjugate())   #conjugate는 켤레 복소수를 확인

<class 'float'>
<class 'float'>
<class 'complex'>
-4.0
3.0
(3+4j)

###4. 문자형 실습 (' ', " " 둘 다 가능)

In [9]:
print('Hello World')
print("Hello World")
print("Welcome to 'Python World'")

Hello World
Hello World
Welcome to 'Python World'

In [10]:
print('''
항상 태양을 바라보아라
그리하면 너는 그림자를 볼 수 없을 것이다.
      
          -헬렌켈러
''')

항상 태양을 바라보아라
그리하면 너는 그림자를 볼 수 없을 것이다.

          -헬렌켈러

In [11]:
print('\t탭 \n다음줄')

	탭
다음줄

In [12]:
print('py' 'thon')
print('py' + 'thon')

python
python

In [13]:
print('py'*3)

pypypy

### 5. Index

1. Index로 문자 불러오기

In [14]:
a = 'Python'
print(a[0])
print(a[0+1])
print(a[2])

P
y
t

2. index는 read-only 속성

In [15]:
a[0] = 'A'    #index read-only 속성이라 수정은 불가능합니다.

TypeError: ignored

3. index를 이용해서 범위를 설정할 수 있다. (slice 기법)

In [16]:
print(a[0:1])
print(a[1:4])
print(a[:2])        #생략은 해당 방향의 끝을 나타낸다.
print(a[2:])
print(a[-2:])
print(a[:])
print(a[::2])       #증가식

P
yth
Py
thon
on
Python
Pto

###6. 데이터 타입의 변환

In [18]:
print(str(3.14))      #문자형으로 변환
print(int('49'))      #정수형으로 변환
print(float(23))      #실수형으로 변환

3.14
49
23.0

###7. 기타 예제

In [19]:
# 원의 넓이와 삼각형 넓이 구하기
r = 2
circle_area = (r**2) * 3.14
print(circle_area)

x = 3
y = 4
triangle_area = x * y / 2
print(triangle_area)

12.56
6.0