<a href="https://colab.research.google.com/github/dayoungkimm/MS-AI-School/blob/main/Python_04_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1. if/else

In [1]:
# 조건에 따라서 다른 결과를 얻기 위해서 사용하는 것

value = 10
if value > 5:
  print('value is bigger than 5')

value is bigger than 5

In [2]:
money = 10
if money >100:
  item = 'apple'
else:
  item = 'banana'

print(item)

banana

###2. 성적처리

In [4]:
# 성적처리

score = input()
print(score)

score = input(('input your score : '))
print(score)

100
100
input your score : 90
90

In [5]:
score = int(input(('input your score : ')))
print(score)

input your score : 100
100

In [6]:
score = int(input(('input your socre : ')))

if 90<=score <=100:
  grade = 'A'
elif 80<=score<90:
  grade = 'B'
elif 70<=score<80:
  grade = 'C'
elif 60<=score<70:
  grade = 'D'
else:
  grade = 'F'

print('Your score is ' + str(score))
print('Your score is ' + grade)

input your socre : 90
Your score is 90
Your score is A

###3. 조건식의 참과 거짓

In [7]:
print(bool(True))
print(bool(False))
print(bool(123))
print(bool(0))
print(bool(-1))             #0을 제외한 수는 true로 간주
print(bool('apple'))        #0 제외 글자도 true로 간주
print(bool(''))             #string인데 내용이 없는 것 >> false
print(bool())               #아예 내용이 없는 것 >> false

True
False
True
False
True
True
False
False

###4. 반복문 (while and for)

In [8]:
value = 5
while value > 0:
  print(value)
  value -= 1

5
4
3
2
1

In [9]:
I = ['Apple', 100, 15.23]
for i in I:
  print(i)

Apple
100
15.23

###5. 예제 (구구단)

In [10]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop2:
  print("2 *" + str(i) + "=" + str(2*i))

2 *1=2
2 *2=4
2 *3=6
2 *4=8
2 *5=10
2 *6=12
2 *7=14
2 *8=16
2 *9=18

In [11]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop2:
  print("2 * {0} = {1}".format(i,2*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [13]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop1:
  for j in loop2:
    print("{0}*{1} = {2}".format(i,j,i*j))

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [14]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop1:
  print('{0} 단 ----------------------------'. format(i))
  for j in loop2:
    print("{0} * {1} = {2}".format(i,j,i*j))

2 단 ----------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단 ----------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단 ----------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단 ----------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단 ----------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단 ----------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단 ----------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단 ----------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

###6. for 문 이용한 .format 예제

In [15]:
L = [1,2,3,4,5,6,7,8,9,10]
for i in L:
  print('item:{0}'.format(i))

item:1
item:2
item:3
item:4
item:5
item:6
item:7
item:8
item:9
item:10

###7. break문
break문을 사용하면 반복문을 중간에 멈출 수 있다.

In [16]:
for i in L:
  if i > 5:
    break
  print('item:{0}'.format(i))

item:1
item:2
item:3
item:4
item:5

###8. continue문
continue문을 사용하면 해당 반복만 건너뛴다.

In [18]:
for i in L:
  if i%2 == 0:       #짝수 될 때마다 건너뛴다.
    continue
  print('item : {0}'.format(i))

item : 1
item : 3
item : 5
item : 7
item : 9

###9. range 함수
range 함수를 사용하면 특정 범위의 숫자를 생성할 수 있다.

In [19]:
range(0,10)

range(0, 10)

In [20]:
range(10)

range(0, 10)

In [21]:
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))       #-1은 증가값
print(list(range(0,10,2)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [22]:
L = ['Apple', 'Orange', 'Banana']
for i in L:
  print(i)

Apple
Orange
Banana

In [24]:
I = list(range(1,6))
[print (i) for i in I]

1
2
3
4
5

[None, None, None, None, None]

In [26]:
I = list(range(1,6))
for i in I:
  print("{0}".format(i))

1
2
3
4
5