<a href="https://colab.research.google.com/github/dayoungkimm/MS-AI-School/blob/main/4_13_Review_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#break문 사용하여 반복문 중간에 멈추기

L = [1,2,3,4,5]
for i in L:
  if i>3:
    break
  print('item: {0}' .format(i))

item: 1
item: 2
item: 3

In [4]:
#continue문 사용하여 해당 반복 건너뛰기

for i in L:
  if i%2 ==0:
    continue
  print('item:{0}'.format(i))

item:1
item:3
item:5

In [15]:
#range 함수를 사용하여 특정 범위의 숫자를 생성
range(1,10)
print(list(range(1,5)))
print(list(range(10,7,-1)))

L = list(range(1,6))
for i in L:
  print(i)

[1, 2, 3, 4]
[10, 9, 8]
1
2
3
4
5

In [18]:
#Class

class Myclass:
  pass
print(Myclass)
print(id(Myclass))

<class '__main__.Myclass'>
41703984

In [19]:
class Person:
  Name = ''

  def Print(self):
    print('My Name is {0}'.format(self.Name))

In [22]:
p1 = Person()
p1.Name = '윤하'
p1.Print()

My Name is 윤하

In [24]:
p1 = Person()
p2 = Person()
p1.Name = '윤하'
p2.Name = '하윤'
p1.Print()
p2.Print()

My Name is 윤하
My Name is 하윤

In [26]:
Person.Title = 'New Title'
print(p1.Title)
print(p2.Title)

New Title
New Title

In [ ]:
#Class의 상속