<a href="https://colab.research.google.com/github/dayoungkimm/MS-AI-School/blob/main/Python_02_%EC%97%B4%EA%B1%B0%ED%98%95_%EC%9E%90%EB%A3%8C_%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023-04-16 복습

###1. List [ ]

In [15]:
colors = ['red', 'green', 'gold']
print(colors)
print(type(colors))

['red', 'green', 'gold']
<class 'list'>

1. 리스트 내에 요소 추가 "append"

In [16]:
colors.append('blue')
print(colors)

['red', 'green', 'gold', 'blue']

2. 원하는 위치에 삽입(원하는 위치, 요소)

In [17]:
colors.insert(1,'black')
print(colors)

['red', 'black', 'green', 'gold', 'blue']

3. 요소 뒤에 확장(여러 요소 추가) >> List [ ]로 추가필요

In [18]:
colors.extend(['white','gray'])
print(colors)

['red', 'black', 'green', 'gold', 'blue', 'white', 'gray']

In [19]:
colors += ['red']   #colors = colors + ['red']
print(colors)

['red', 'black', 'green', 'gold', 'blue', 'white', 'gray', 'red']

4. 리스트 내 index, pop

In [20]:
print(colors.index('red'))
print(colors.index('red',1))
print(colors.count('red'))

0
7
2

In [21]:
colors.pop()

'red'

In [22]:
colors.pop()

'gray'

In [23]:
colors.pop(1)

'black'

In [24]:
print(colors)

['red', 'green', 'gold', 'blue', 'white']

5. remove는 해당 값을 삭제 가능

In [25]:
colors.remove('gold')
print(colors)

['red', 'green', 'blue', 'white']

6. sort는 알파벳 순서대로 정렬 / reverse는 역순으로 정렬

In [26]:
colors.sort()
print(colors)

colors.reverse()
print(colors)

['blue', 'green', 'red', 'white']
['white', 'red', 'green', 'blue']

###2. 세트(set) { }

In [27]:
a = {1,2,3}
b = {3,4,5}

print(a,b)
print(type(a))

{1, 2, 3} {3, 4, 5}
<class 'set'>

1. 합집합, 교집합

In [29]:
print(a.union(b))          #union 합집합
print(a.intersection(b))   #intersection 교집합
print(a-b)                 # 차집합

#이렇게 연산자로도 표현 가능하나 되도록이면 위의 함수로 직접 표현하기! 실수할 수 있음!!
print(a-b)                 #차집합
print(a | b)               #합집합
print(a&b)                 #교집합

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2}
{1, 2, 3, 4, 5}
{3}

###3. 튜플(tuple) (  ) 제일 가벼운 타입

In [30]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

In [31]:
(a,b) = (1,2)
print(a,b)

1 2

1. 튜플의 swap 기능

In [32]:
a = 10
b = 20
(a,b) = (b,a)
print(a,b)

20 10

2. 튜플은 타입의 전환도 무척 간단하다.

In [33]:
a = set((1,2,3))
print(type(a))
b = list(a)
print(type(b))
c = tuple(a)
print(type(c))
d = set(c)
print(type(d))

<class 'set'>
<class 'list'>
<class 'tuple'>
<class 'set'>

3. in 연산자를 통해서 해당 값이 있는지 확인 가능하다.

In [34]:
a = set((1,2,3))
print(1 in a)         #in 연산자는 데이터 타입에 상관없이 사용할 수 있다.

True

###4. 사전 (Dictionary) 
key : value >> key를 이용해서 value를 찾아낼 수 있음

In [35]:
d = dict(a=1, b=2, c=3)
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [36]:
color = {'apple': 'red', 'banana' : 'yellow'}
print(color)

{'apple': 'red', 'banana': 'yellow'}

1. dict 타입에는 인덱스 없음 (순서 없음)

In [37]:
print(color['apple'])
#print(color[o])            #인덱스 없음
#print(color['cherry'])     #없는 것을 물어볼 시 에러 발생

red

2. key가 없는 것일 때 추가됨

In [38]:
color['cherry'] = 'red'
print(color)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

3. key가 이미 있을 시 업데이트 해줌 >> key 중복이 안됨

In [39]:
color['apple'] = 'green'
print(color)

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [41]:
print(color.keys())
print(color.values())
print(color.items())

dict_keys(['apple', 'banana', 'cherry'])
dict_values(['green', 'yellow', 'red'])
dict_items([('apple', 'green'), ('banana', 'yellow'), ('cherry', 'red')])

4. for 문을 사용해서 데이터 가져와보기

In [45]:
for k in color.keys():
  print(k)
for v in color.values():
  print(v)
for i in color.items():
  print(i)
for (k,v) in color.items():
  print(k,v)

apple
banana
cherry
green
yellow
red
('apple', 'green')
('banana', 'yellow')
('cherry', 'red')
apple green
banana yellow
cherry red

5. Dict에서 불필요한 아이템의 삭제

In [46]:
del color['cherry']
print(color)

{'apple': 'green', 'banana': 'yellow'}

In [47]:
#Dict에서 모든 아이템 삭제
color.clear()
print(color)

{}

###5. 데이터 타입은 서로 혼용해서 사용하는 것이 가능하다.

In [48]:
d = {'age':40.5, 'job': [1,2,3], 'name': {'Kim': 2}, 'Da':1}
print(d)

{'age': 40.5, 'job': [1, 2, 3], 'name': {'Kim': 2}, 'Da': 1}

###6. bool 타입

In [49]:
isRight = False
print(isRight)

False

In [51]:
print(1<2)
print(1==2)
print(1!=2)

True
False
True

###7. 논리 연산자

In [52]:
print(True and False)
print(True & True)
print(True or False)
print(False | False)
print(not True)

False
True
True
False
False

###8. 얕은 복사와 깊은 복사

1. call by reference

In [53]:
a = [1,2,3]
b = a             #a의 내용이 b에 복사 (a의 주소가 카피됨) >> call by reference(주소, 참조만 카피했다.)
print(b)

[1, 2, 3]

In [54]:
a[0] = 38
print(a)
print(b)          #a 변경 내용이 b에도 반영됨

[38, 2, 3]
[38, 2, 3]

2. call by value

In [55]:
#call by value (참조만이 아닌 값을 복사)
a = [1,2,3]
b = a[:]
a[0] = 38
print(a,b)

[38, 2, 3] [1, 2, 3]

3. copy module을 사용하는 법

In [56]:
import copy

a = [1,2,3]
b = copy.deepcopy(a)
a[0] = 38
print(a,b)

[38, 2, 3] [1, 2, 3]